<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css')}}">
    <!-- <link rel="stylesheet" href="../static/new.css"> -->
    <title>Document</title>
</head>
<header>
    <img src="{{ url_for('static', filename='id.png')}}" alt="" height="15px">
</header>

<body>
    <div id="all" class="container-fluid">
        <div class="row">
            <div id="side-menu" class="col-lg-2 col-xm-1">
                <button class="chats"> group chats </button>
                <div id="chats">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div id="chat" class="row">
                    <div id="registration">
                        <section>
                            <div id="change_username">
                                <p> name {<input id="username" type="text" autocomplete="off" />}</p>
                            </div>
                        </section>
                        <div id="color">
                            color {
                            <div class="button">
                                <input type="radio" name="color" value="#a9dc76ff" id="green" checked="checked" />
                                <label class='color' for="green"><svg id="green" class="bi bi-square-fill" width="1em"
                                        height="1em" viewBox="0 0 16 16" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="14" height="14" rx="2" /></svg> #a9dc76ff</label></div>
                            <div class="button">
                                <input type="radio" name="color" value="#ffd766ff" id="yellow" />
                                <label class='color' for="yellow"><svg id="yellow" class="bi bi-square-fill" width="1em"
                                        height="1em" viewBox="0 0 16 16" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="14" height="14" rx="2" /></svg> #ffd766ff</label></div>
                            <div class="button">
                                <input type="radio" name="color" value="#78dce8ff" id="blue" />
                                <label class='color' for="blue"><svg id="blue" class="bi bi-square-fill" width="1em"
                                        height="1em" viewBox="0 0 16 16" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="14" height="14" rx="2" /></svg> #78dce8ff</label></div>
                            <div class="button">
                                <input type="radio" name="color" value="#ab9df2ff" id="purple" />
                                <label class='color' for="purple"><svg id="purple" class="bi bi-square-fill" width="1em"
                                        height="1em" viewBox="0 0 16 16" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="14" height="14" rx="2" /></svg> #ab9df2ff</label></div>
                            <div class="button">
                                <input type="radio" name="color" value="#ff6087ff" id="pink" />
                                <label class='color' for="pink"><svg id="pink" class="bi bi-square-fill" width="1em"
                                        height="1em" viewBox="0 0 16 16" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="14" height="14" rx="2" /></svg> #ff6087ff</label></div>
                            <div class="button">
                                <input type="radio" name="color" value="#fb9767ff" id="orange" />
                                <label class='color' for="orange"><svg id="orange" class="bi bi-square-fill" width="1em"
                                        height="1em" viewBox="0 0 16 16" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="14" height="14" rx="2" /></svg> #fb9767ff</label></div>
                            <p>}</p>
                            <div class="btn-group" role="group">
                                <button id="send_username" type="button" class="btn btn-secondary">submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-2">
                        <div id="m" class="row">
                            <section id="chatroom">
                                <section id="feedback"></section>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section id="input_zone">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span id="info" ><span id="terminal_username">~/username/</span><span id="chat_name">chat_name </span> $</span>
                            </div>
                            <textarea id="message" class="form-control" type="text" /></textarea>
                            <div class="input-group-append">
                                <button id="send_message" class="input-group-text" type="button">send</button>
                            </div>
                          </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='chat.js')}}"></script>
</body>
</html>