{% extends "header.html" %}

{% block title %} {{ book.title }} {% endblock %}

{% block bookinfo %}
<div class="row">
  <div class="col-lg-6 col-sm-4">
    <img id="book_image" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}.jpg" alt="" width="400px">
  </div>
  <div class="col-lg-6 col-sm-4">
    <div id="book_info">
        <h2>{{ book.title }}</h2>
        <ul>
            <li>Author: {{ book.author }}</li>
            <li>Year: {{ book.year }}</li>
            <li>ISBN: {{ book.isbn }}</li>
            <li>Goodreads rate: {{ book.goodreads_avg_review }}</li>
            <li>num of reviews: {{ book.goodreads_num_of_reviews }}</li>
        </ul>
          <form action="{{ url_for('submit_review', book_id=book.id) }}" method="POST">
            <div class="input-group">
              <div id="group">
                <textarea id="text" name="review" rows="4" cols="50"></textarea required>
                  <div class="rating">
                    <input type="radio" name="rate" id="star5" value="5"><label for="star5"></label>
                    <input type="radio" name="rate" id="star4" value="4"><label for="star4"></label>
                    <input type="radio" name="rate" id="star3" value="3"><label for="star3"></label>
                    <input type="radio" name="rate" id="star2" value="2"><label for="star2"></label>
                    <input type="radio" name="rate" id="star1" value="1"><label for="star1"></label>
                </div>
                <button type="submit" class="btn btn-secondary btn-md" id="submit-review">Submit</button>
              </div>
              </div>

            </form>
      </div>
  </div>
</div>

</div>
<div class="part">
  <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2">
      {% for review in reviews_list %}
      <div class="col mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/static/avatars/{{ user_info[review.user_id].avatar }}.png" alt="Card image cap" >
        <div class="card-body">
          <h6 class="card-title">{{ user_info[review.user_id].username }}</h6>
          <p class="card-text"><small> {{ review.review}}</small></p>
          <p class="card-text"><small> Rate: {{ review.rate }} </small></p></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
