{% extends "layout.html" %}

{% block title %} Animal Books {% endblock %}

{% block body %}

<div class="container">
    <img src="/static/imageLogin.png" alt="" width="70%">
    <div id="username-password">
        <div class="input-group flex-nowrap">
            <div>
                <form action="{{ url_for('login') }}" method="post" class="needs-validation" novalidate>
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                    <div class="valid-feedback">Looks good!</div>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <button type="submit" name="login" class="btn btn-secondary">login</button>
                    <a href="#registration"><button type="button" class="btn btn-secondary btn-md">Register now</button></a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="second-container">
    <div class="row">
        <div class="col-lg-4">
            <img id="image_bottom_left" src="/static/boy_left_corner.png" alt="" width="100%">
        </div>
        <div class="col-lg-4">
            <div id="registration">
                <form action="{{ url_for('register') }}" method="post" class="needs-validation" novalidate>
                    <div class="form-row">
                        <label> Registration Form </label>
                        <input type="text" class="form-control" placeholder="First Name" name="name" required>
                        <div class="valid-feedback"> Looks good!</div>
                    </div>
                    <div class="form-row">
                        <input type="text" class="form-control"  placeholder="Last Name" name="lname" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="form-row">
                        <input type="text" class="form-control"  placeholder="Username" name="username" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="form-row">
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="form-row">
                        <input type="password" class="form-control"  placeholder="Confirm Password" name="password_confirmation" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    Avatar:
                    <div class="form-row">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                                {% for i in range(1,9)%}
                                <div class="button">
                                    <input type="radio" name="avatar" value="{{i}}" id="{{i}}" />
                                    <label class='avatar-image' for="{{i}}"><img src="/static/avatars/{{i}}.png" width="42px" alt=""></label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="btn-group btn-group-lg" role="group" aria-label="second group">
                                {% for i in range(9,17)%}
                                <div class="button">
                                    <input type="radio" name="avatar" value="{{i}}" id="{{i}}" />
                                    <label class='avatar-image' for="{{i}}"><img src="/static/avatars/{{i}}.png" width="42px" alt=""></label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="btn-group btn-group-lg" role="group" aria-label="second group">
                                {% for i in range(17,21)%}
                                <div class="button">
                                    <input type="radio" name="avatar" value="{{i}}" id="{{i}}" />
                                    <label class='avatar-image' for="{{i}}"><img src="/static/avatars/{{i}}.png" width="42px" alt=""></label>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn" type="submit">Submit form</button>
                        </div>
                    </div>
                </form>
            </div>
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    <div class="col-lg-4">
        <img id="image_bottom_right" src="/static/girl_right_corner.png" alt="" width="100%">
    </div>
    </div>
</div>
</div>

{% endblock %}