{% extends "header.html" %}

{% block title %} Animal Books {% endblock %}
    
{% block bookinfo %}

{% endblock %}

{% block grid %} 
  
  <h1>{{ pagetitle }}</h1>

  </div>
      <div class="part">
        <div class="row row-cols-1 row-cols-md-4">
            {% for book in books_list %}
            <div class="col mb-4">
              <div class="card h-100">
              <img class="card-img-top" src="/static/book_image.png" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">{{ book.title}}</h6>
                <p class="card-text"><small> {{ book.author}}</small></p>
                <p class="card-text"><small> Year: {{book.year}}</small></p>
                <p class="card-text"><small> Rate: <span><img src="/static/rate.png" alt="" width="60%"></span></small></p>
                <p class="card-text"><small> Goodreads Rate:<span> {{book.goodreads_avg_review}} </span></small></p>
                <p class="card-text"><small> Num of reviews:<span> {{book.goodreads_num_of_reviews}} </span></small></p>
                <a href="{{ url_for('more', book_id=book.id) }}">see more</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
{% endblock %}

