{% extends "orders/layout.html" %}
{% load static %}


{% block modal %}
<div class="modal fade" id="pizza" tabindex="-1" role="dialog" aria-labelledby="pizzaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pizzaLabel">Toppings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'orderPizza' %}" class="" method="POST">
                    <div id="selected_pizza_div" style="display: none;"></div>
                    {% csrf_token %}
                    {% for topping in toppings %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="top_opt" value="{{ topping }}"
                            id="top_{{topping}}">
                        <label class="form-check-label" for="top_{{tooping}}">
                            {{topping}}
                        </label>
                    </div>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="add_to_cart">Save to cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6" id='checkout_items_modal'>
                        {%for item in items%}
                        <div>{{ item }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-3 offset-1" id='checkout_prices_modal'>
                        {%for item in items%}
                        <div>{% if item.price != None %}{{item.price}}{% else %} - {% endif %}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="checkout_total_modal">
                        <h4>Total:</h4>
                        <h3>US$ {{totalPrice}}</h3>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}


{% block navContent %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="#cart">Cart<span class="sr-only"></span></a>
    </li>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="buttons_header">
        <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
    </div>
</ul>
{% endblock%}


{% block body %}
<div class="row" id="row_content">
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'orders/images/pizza1.jpg' %}" class="card-img" alt="..."
                                height="260px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Regular Pizza</h5>
                                <p class="card-text">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select mr-sm-2" id="regular_toppings"
                                                name="regular_toppings">
                                                {% for topping in toppingOptions %}
                                                <option value="{{ topping }}">{{topping}}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select mr-sm-2" name="size">
                                                {% for size in sizes %}
                                                <option value="{{ size }}">{{size}}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <input class="form-control" type="number" name="num" placeholder="qnt">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <button class="btn btn-secondary" id="add_regular_pizza_button">add
                                                to cart</button>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'orders/images/sicilian.jpg' %}" class="card-img" alt="..."
                                height="260px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sicilian Pizza</h5>
                                <p class="card-text">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select mr-sm-2" id="sicilian_toppings"
                                                name="sicilian_toppings">
                                                {% for topping in toppingOptions %}
                                                <option value="{{ topping }}">{{ topping }}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select mr-sm-2" name="size">
                                                {% for size in sizes %}
                                                <option value="{{ size }}">{{size}}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <input class="form-control" type="number" id="sicilian_num" name="num"
                                                placeholder="qnt">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <button class="btn btn-secondary" id="add_sicilian_pizza_button">add
                                                to cart</button>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'orders/images/sub_image.jpg' %}" class="card-img" alt="..."
                                height="260px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Subs</h5>
                                <p class="card-text">
                                    <form action="{% url 'orderSub' %}" class="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <select class="custom-select mr-sm-2" id="sub" name="sub">
                                                    {% for sub in subs %}
                                                    <option value="{{ sub.ingredients }}">
                                                        {{ sub.ingredients }}
                                                    </option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <select class="custom-select mr-sm-2" name="size">
                                                    {% for size in sizes %}
                                                    <option value="{{ size.id}}">{{size}}</option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <input class="form-control" type="number" name="num" placeholder="qnt">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <select class="custom-select mr-sm-2" name="extra">
                                                    <option value="none">no extra</option>
                                                    {% for extra in extras %}
                                                    <option value="{{ extra.id }}">{{extra.extra}}
                                                        {{extra.price}}</option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <button class="btn btn-secondary" type="submit">add to
                                                    cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'orders/images/pasta.jpg' %}" class="card-img" alt="..." height="260px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Pasta</h5>
                                <p class="card-text">
                                    <form action="{% url 'orderPasta' %}" class="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <select class="custom-select mr-sm-2" id="pasta" name="pasta">
                                                    {% for pasta in pastas %}
                                                    <option value="{{ pasta.ingredients}}">{{pasta}}
                                                        {{pasta.price}}
                                                    </option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <input class="form-control" type="number" name="num" placeholder="qnt">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <button class="btn btn-secondary" type="submit">add to
                                                    cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'orders/images/dinner.jpg' %}" class="card-img" alt="..."
                                height="260px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Dinner Platters</h5>
                                <p class="card-text">
                                    <form action="{% url 'orderDinner' %}" class="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <select class="custom-select mr-sm-2" id="dinner" name="dinner">
                                                    {% for dinner in dinnerPlates %}
                                                    <option value="{{ dinner }}">{{ dinner}}</option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <select class="custom-select mr-sm-2" name="size">
                                                    {% for size in sizes %}
                                                    <option value="{{ size.id}}">{{size}}</option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <input class="form-control" type="number" name="num" placeholder="qnt">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <button class="btn btn-secondary" type="submit">add to
                                                    cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% static 'orders/images/salad.jpg' %}" class="card-img" alt="..." height="260px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Salad</h5>
                                <p class="card-text">
                                    <form action="{% url 'orderSalad' %}" class="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <select class="custom-select mr-sm-2" id="salad" name="salad">
                                                    {% for salad in salads %}
                                                    <option value="{{ salad }}">{{salad}} {{salad.price}}
                                                    </option>
                                                    {% endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <input class="form-control" type="number" name="num" placeholder="qnt">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <button class="btn btn-secondary" type="submit">add to
                                                    cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="container" id="cart">
            <h1>Hello, {{ user.username }}</h1>
            <h3>status: {{ order.order_status}}</h3>

            <div class="row">
                <div class="col-xs-6" style="padding-right: 15px; padding-top: 10px; padding-left: 40px; ">
                    {%for item in items%}
                    <div style="margin-top: 5px;">{{item}}</div>
                    {% empty %}
                    <li>cart is empty </li>
                    {% endfor %}
                </div>
                <div class="col-xs-3" style="padding-top: 10px;">
                    {%for item in items%}
                    <div style="margin-top: 5px;">{% if item.price == None %}-{% else %}{{ item.price }}{% endif %}</div>
                    {% empty %}
                    -
                    {% endfor %}
                </div>
                <div class="col-xs-3" style="padding-top: 10px;">
                    {% for item in items %}
                    <div style="margin-top: 3px;" class="col-xs-3 cart_items">
                        <button class="trash" id="{{item.id}}" onclick="deleteItem(this.id)">
                            <svg class="bi bi-trash" width="1.5em " height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </div>
                    {% empty %}
                    -
                    {% endfor %}
                </div>
            </div>
            
            

            <div class="row" id="total_div">
                <h4>Total:</h4>
                <h3 id="total">US$ {{totalPrice}}</h3>
                <input type="button" class="btn btn-dark" data-toggle="modal" data-target="#checkoutModal"
                    value="checkout" id="checkout_button">
            </div>
        </div>
    </div>
</div>


{% endblock%}