* {
    font-size: small;
    outline: none;
    font-family: monospace;
}

body
{
    overflow-y: hidden;
}

#info
{
    padding-top: 5px;
    display: none;
    color: white;
    border: none;
    background-color:#363537;
}

#terminal_username
{
    font-weight: bolder;
}
#chat_name
{
    color: #a9dc76ff;
    font-weight: bolder;
}

p.message {
    margin: 0px;
    width: 100%;
    font-size: 2vh;
    font-family: monospace, sans-serif;
    padding: 1vh;
}

body {
    background-color: #191919;
}

input {
    outline: none;
    padding-left: 5px;
    border: none;
    color: white;
    background-color: rgba(20, 20, 20, .30);
}

header {
    height: 5%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: #222222;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: #78dce8ff;
    outline: none;
}

.form-control:focus {
    outline: none;
    box-shadow:none !important;
  }
.input-group-text:focus {
    outline: none;
    box-shadow:none !important;
  }

#color>div {
    margin-left: 55px;
}

#green:checked+label {
    color: #a9dc76ff;
    outline: none;
}

#green {
    color: #a9dc76ff;
}

#yellow:checked+label {
    color: #ffd766ff;
    outline: none;
}
#yellow {
    color: #ffd766ff;
}


#blue:checked+label {
    color: #78dce8ff;
    outline: none;
}

#blue {
    color: #78dce8ff;
}

#purple:checked+label {
    color:  #ab9df2ff;
    outline: none;
}

#purple {
    color: #ab9df2ff;
}

#pink:checked+label {
    color: #ff6087ff;
    outline: none;
}
#pink {
    color: #ff6087ff;
}

#orange:checked+label {
    color: #fb9767ff;
    outline: none;
}

#orange {
    color: #fb9767ff;
}

#registration {
    padding: 10px;
    background-color: #222222;
    box-shadow: 5px 10px 18px #191919;
    padding: 30px 60px;
    color: white;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 4%;
    width: 30%;
    height: 65%;
}


#send_username {
    background-color:#363537;
    font-size: medium;
    color: white;
    margin-top: 15px;
    margin-left: 25px;
    border: none;
}
#send_group_chat_name {
    background-color:#363537;
    font-size: medium;
    color: white;
    margin-top: 15px;
    margin-left: 65px;
    border: none;
}


#side-menu {

    height: 96vh;
    background-color: #191919;
}

#chat {
    height: 80vh;
    background-color: #222222;
}

.chats {
    color: white;
    border: none;
    background-color: #191919;
    padding-left: 25px;
    text-align: left;
    margin-top: 10px;
}

#m
{
    height: 80vh;
    display: none;
    overflow-y: scroll;
    width: 83vw;
    overflow-wrap: break-word;
}

#m::-webkit-scrollbar {
    width: 1em;
}
 
#m::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#message {
    resize: none;
    height: 16vh;
    width: 1050px;
    border: none;
    background-color: #363537;
    display: none;
    color: white;
}


#send_message {
    padding-right: 40px;
    display: none;
    color: white;
    border: none;
    background-color: #363537;
}

.icon-image
{
    margin: 5px;
}
img:hover
{
    transform: scale(1.1);
}
input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: #78dce8ff;
    outline: none;
}


#chat_creation {
    padding: 10px;
    background-color: #222222;
    box-shadow: 5px 10px 18px #191919;
    padding: 30px 60px;
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 4%;
    width: 40%;
    height: 85%;
    display: none;
}




@media screen and (max-width: 414px) {
    #side-menu {
        height: 5%;
    }

    #chat {
        height: 60vh;
    }

    #registration {
        width: 80%;
        height: 80%;
        margin-top: 10%;
        margin-left: 10%;
        padding: 30px;
    }

    #message {
        height: 15vh;
        width: 400px;
    }

    #chat_creation {
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-left: 5%;
        padding: 30px;

    }

    #send_group_chat_name
    {
        margin-top: 15px;
        margin-left: 50px;
    }

    .icon-image > img
    {
        width: 5vw;
    }
}