$green: #a9dc76;
$yellow: #ffd766;
$blue: #78dce8;
$purple: #ab9df2;
$pink: #ff6087;
$orange: #fb9767;
$font: monospace;

* {
  font-size: small;
  outline: none;
  font-family: $font;
}

body {
  overflow-y: hidden;
}

#info {
  padding-top: 5px;
  display: none;
  color: white;
  border: none;
  background-color: #363537;
}

#terminal_username {
  font-weight: bolder;
}
#chat_name {
  color: $green;
  font-weight: bolder;
}

p.message {
  margin: 0px;
  width: 100%;
  font-size: 2vh;
  padding: 1vh;
}

body {
  background-color: #191919;
}

input {
  outline: none;
  padding-left: 5px;
  border: none;
  color: white;
  background-color: rgba(20, 20, 20, 0.3);
}

header {
  height: 5%;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-color: #222222;
}

.form-control:focus,
.input-group-text:focus {
  outline: none;
  box-shadow: none !important;
}

#color > div {
  margin-left: 55px;
}

#green {
  color: $green;
  &:checked + label {
    color: $green;
    outline: none;
  }
}

#yellow {
  color: $yellow;
  &:checked + label {
    color: $yellow;
    outline: none;
  }
}

#blue {
  color: $blue;
  &:checked + label {
    color: $blue;
    outline: none;
  }
}
#purple {
  color: $purple;
  &:checked + label {
    color: $purple;
    outline: none;
  }
}

#pink {
  color: $pink;
  &:checked + label {
    color: $pink;
    outline: none;
  }
}

#orange {
  color: $orange;
  &:checked + label {
    color: $orange;
    outline: none;
  }
}

#registration {
  padding: 10px;
  background-color: #222222;
  box-shadow: 5px 10px 18px #191919;
  padding: 30px 60px;
  color: white;
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 4%;
  width: 30%;
  height: 60%;
}

#send_username {
  background-color: #363537;
  font-size: medium;
  color: white;
  margin-top: 15px;
  margin-left: 25px;
  border: none;
}
#send_group_chat_name {
  background-color: #363537;
  font-size: medium;
  color: white;
  margin-top: 15px;
  margin-left: 65px;
  border: none;
}

#side-menu {
  height: 96vh;
  background-color: #191919;
}

#chat {
  height: 80vh;
  background-color: #222222;
}

.chats {
  color: white;
  border: none;
  background-color: #191919;

  padding-left: 25px;
  text-align: left;
  margin-top: 10px;
}

section {
  margin-top: 5px;
}

#chatroom-div {
  height: 80vh;
  display: none;
  overflow-y: scroll;
  width: 83vw;
  overflow-wrap: break-word;
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

#message {
  resize: none;
  height: 16vh;
  width: 70vw;
  border: none;
  background-color: #363537;
  display: none;
  color: white;
}

#send_message {
  padding-right: 40px;
  display: none;
  color: white;
  border: none;
  background-color: #363537;
}

.icon-image {
  margin: 5px;
}
img:hover {
  transform: scale(1.1);
}
input[type="radio"] {
  display: none;
}

#chat_creation {
  padding: 10px;
  background-color: #222222;
  box-shadow: 5px 10px 18px #191919;
  padding: 30px 60px;
  color: white;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 4%;
  width: 40%;
  height: 85%;
  display: none;
}

@media screen and (max-width: 414px) {
  #side-menu {
    height: 5%;
  }

  #chat {
    height: 70vh;
  }

  #registration {
    width: 80%;
    height: 80%;
    // margin-top: 10%;
    // margin-left: 10%;
    // padding: 30px;
  }

  #message {
    height: 15vh;
    width: 95vw;
  }

  #m {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 30px;
  }

  #send_group_chat_name {
    margin-top: 15px;
    margin-left: 50px;
  }

  .icon-image > img {
    width: 3vw;
  }
}

@media screen and (max-width: 1300px) and (min-width: 414px) {
    #side-menu {
      height: 5%;
    }
  
    #chat {
      height: 80vh;
    }
  
    #registration {
      width: 30%;
      height: 50%;
      margin-top: 10%;
      margin-left: 25%;
      padding: 40px;
    }

    #chat_creation
    {
        margin-top: 15%;
        height: 50%;
    }
  
    #message {
      height: 20vh;
      width: 1000px;
    }
  
    #m {
      width: 90%;
      height: 90%;
      margin-top: 5%;
      margin-left: 5%;
      padding: 30px;
    }
  
    #send_group_chat_name {
      margin-top: 15px;
      margin-left: 50px;
    }
  
    .icon-image > img {
      width: 2vw;
    }
  }
  